/* Place CSS styles here */
.prim { 
    color: gold;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    transition: .30s all ease;
}

.prim:hover {
color: black;
background-color: gold;
}

.sec {
    color: rgb(64, 197, 227);
    background-color: rgb(65, 61, 61);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    padding-right: 10px;
    border: 1px black;
    border-radius: 8px;
    transition: .25s all ease;
}
    
.sec:hover {
    color: rgb(65, 61, 61);
    background-color: rgb(64, 197, 227);
}