/* Place CSS styles here */
body{
    background-color: rgb(245, 245, 233);
}

h1,
h2 {
    display: flex; 
    justify-content: center;  
}

.butts {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button:focus{
    color: blue;

}

.prim { 
    color: gold;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    transition: .30s all ease;
}

.prim:hover {
color: black;
background-color: gold;
}

.prim:disabled {
    color: black;
    background-color: gray;
    
}

.sec {
    color: lightskyblue;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    transition: .30s all ease;
}
    
.sec:hover {
    color: whitesmoke;
    background-color:lightskyblue;
}

.sec:disabled {
    color: black;
    background-color: gray;
}

.err {
    color: rgb(255, 253, 253);
    background-color: rgb(124, 124, 122);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    transition: .30s all ease;
}
    
.err:hover {
    color: rgb(124, 124, 122);
    background-color: rgb(255, 253, 253);;
}

.err:disabled {
    color: black;
    background-color: gray;
}

.plink {
    color: darkgreen;
    text-decoration: none;
}

.plink:hover {
    color: lightgreen;
    text-decoration: underline;
}

.plink:focus {
 color: olive;
 text-decoration: underline;
}

.plink:visited {
    color: blue;
}

.plink:disabled {
    color: gray;
}

.slink {
    color: rgb(38, 172, 216);
}

.slink:hover {
    color: blue;
}

.slink:focus {
    color: aquamarine;
}

.slink:visited {
    color: brown;
}

.slink:disabled {
    color: gray;
}

input:hover {
    color: rgb(227, 176, 82);
}

input:focus {
    color: rgb(151, 98, 13) ;
}

input:disabled {
    color: gray;
}

input:required {
    color: red ;
}

input:required:hover {
    color: rgb(165, 108, 2);
}

input:required:focus {
    color: rgb(178, 152, 104);
}

@media screen and (max-width: 767px) {
    .butts {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) {
    .butts {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 767px) {
    .link {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) {
    .link {
      flex-direction: row;
    }
  }